.photo{
    width: 300px; height: 300px;
    border-radius: 50%;
}

.we{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

.full{
    max-width: 1500px;
    margin: auto ;
}

body{
    background-color: #ffffff;
    color: #37474f;
    font-size: 14px;
    font-weight: 400; 
    /* font-family: ; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}